#container2 {
    width: 780px;
    height: 540px;
    margin: auto;
    border: 5px solid purple;
    background: burlywood;
}

header button {
    float: left;
    margin-left: 5px;
}

header {
    width: 630px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    background: burlywood;
    clear: both;
}

h2 {
    margin: 10;
}

aside {
    float: left;
    background: #fff6df;
    width: 150px;
    height: 480px;
    margin: 0;
}

ul {
    margin: 0;
}

ul button {
    margin-top: 50px;
}

img {
    width: 630px;
    height: 480px;
}

#player {
    margin-left: 150px;
    width: 630px;
    height: 480px;
    background-color: #f5eaea;
}