body{
    background: #222;
}

#container{
    width: 350px;
    margin: 40px auto;
    background: #666;
}

h1{
    text-align: center;
    color: white;
}

#board li{
    width: 70px;
    height: 70px;
    line-height: 70px;
    list-style: none;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 10px;
    float: left;
    background: #444;
}

.clearfix{
    clear: both;
}

footer{
    text-align: center;
}

#reset{
    width: 70%;
    font-size: 20px;
    background: #444;
    color: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
}

.o{
    color: rgb(80, 80, 255) !important;
    line-height: 70px;
}

.x{
    color: rgb(255, 80, 80) !important;
    line-height: 70px;
}